.nav {
    font-size: 25px;
}

div.container {
    font-size: 20px;
}

p.web {
    font-size: 15px;

}
/* Three columns side by side */
.column {
  float: left;
  width: 15%;
  margin-bottom: 16px;
  margin-left: 5px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

table, th, td {
  font-size: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  border-spacing: 15px;
}

.page-header th {
  background-color: black;
  color: white;
}
.page-header tr:nth-child(even) {
  background-color: #eee;
}
.page-header tr:nth-child(odd) {
 background-color: #fff;
}
#t01 {
  background-color: #FFC133;
}

#t02 tr {
 background-color: #ccd9ff;
}

#t02 th {
  background-color: #1a53ff;
  color: white;
}
